<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Create An Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" class="ion-text-center">
  <form [formGroup]="signupForm" (ngSubmit)="onSignup()">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-list>
            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input 
                type="email"
                formControlName="email"
              ></ion-input>
            </ion-item>
            <ion-item class="input-error" *ngIf="!signupForm.get('email').valid && signupForm.get('email').touched" lines="none">
              <ion-label class="ion-text-end">Email is invalid!</ion-label>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input 
                type="password"
                formControlName="password"
                ></ion-input>
            </ion-item>
            <ion-item class="input-error" *ngIf="!signupForm.get('password').valid && signupForm.get('password').touched" lines="none">
              <ion-label class="ion-text-end">Password is required!</ion-label>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Confirm Password</ion-label>
              <ion-input 
                type="password"
                formControlName="confirmPassword"
                formControlName="confirmPassword"
                ></ion-input>
            </ion-item>
            <ion-item class="input-error" *ngIf="!signupForm.get('confirmPassword').valid && signupForm.get('confirmPassword').touched" lines="none">
              <ion-label class="ion-text-end">Missing Confirm Password</ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-button 
            color="primary" 
            type="submit"
            expand="block"
            shape="round"
            [disabled]="signupForm.invalid" 
            *ngIf="!(isLoading$ | async)"
          >
            Create Account
          </ion-button>
          <ion-button  
          fill="clear" 
          type="button" 
          color="dark" 
          (click)="onSwitchToLogin()"
          class="ion-text-capitalize"
          *ngIf="!(isLoading$ | async)"
          id="toLoginBtn"
        >
          Already Have An Account?
        </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
