<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/places/tabs/offers"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ place?.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">
  <app-image-carousel
    [images]="images"
    [place]="place"
  ></app-image-carousel>
  <ion-button 
    class="ion-margin" 
    color="secondary"
    expand="block"
    shape="round"
    [routerLink]="['/places/tabs/offers/edit/' + place.id]">
    Edit 
  </ion-button>
</ion-content>
