<ion-item 
  [routerLink]="['/places/tabs/offers/' + offer.id]"
  detail
>
  <ion-thumbnail class="ion-margin-horizontal">
    <ion-img [src]="offer.image"></ion-img>
  </ion-thumbnail>
  <ion-label>
    <h1>{{ offer.title }}</h1>
    <div class="offer-details">
      <ion-text  class="space-left" color="medium">{{ offer.availableFrom | date }}</ion-text>
      <span class="space-left"> - </span>
      <ion-text class="space-left" color="medium">{{ offer.availableTo | date }}</ion-text>
    </div>
  </ion-label>
</ion-item>
<ion-spinner name="crescent" *ngIf="isLoading$ | async"></ion-spinner>