<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/places/tabs/discover"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ place.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-image-carousel
    [images]="images"
    [place]="place"
  ></app-image-carousel>
  <ion-button 
    (click)="onBookPlace()"
    class="ion-margin" 
    color="secondary"
    expand="block"
    shape="round"
    *ngIf="place.userId != user"
  >Start Booking</ion-button>
</ion-content>
